*.elc
.org-id-locations
auto-save-list/
bookmarks
el-get/
elpa/
.org-clock-save.el
tramp
/url/cookies
/.emacs.desktop
/.mc-lists.el
/ac-comphist.dat
/snippets/org-mode/.yas-compiled-snippets.el
/snippets/text-mode/.yas-compiled-snippets.el
/eshell/history
/eshell/lastdir
/data/styles/*
/.cask/24.3.50.1/bootstrap/*
/.emacs.desktop.lock
/skewer-cache/*
/emacs-init.html
