*.elc
.org-id-locations
auto-save-list/
bookmarks
el-get/
elpa/
org-clock-save.el
tramp
/url/cookies
/.emacs.desktop
/.mc-lists.el
/ac-comphist.dat
/snippets/org-mode/.yas-compiled-snippets.el
/snippets/text-mode/.yas-compiled-snippets.el
/eshell/history
/eshell/lastdir
/data/styles/OrgOdtContentTemplate.xml
/data/styles/OrgOdtStyles.xml
/data/styles/README
